---
import Social from '../Social.astro';
const aboutData = {
  title: 'Who Are We?',
  paragraphs: [
    `Riddlebit Software is a game development company based in Trondheim, Norway.
    We're a small team of developers and artists that share a passion for making games.
    Currently we're making an awesome game called JETRUNNER.`
  ]
}
---

<div class="about">
  <span id="about" class="nav-anchor" />
  <div class="content">
    <h1>{aboutData.title}</h1>
    {aboutData.paragraphs.map(text => <p>{text}</p>)}
    <Social />
  </div>
</div>

<style>
  .about {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .content {
    margin: 0 2rem;
    max-width: 830px;
  }

  .about h1 {
    text-align: center;
  }

  @media (max-width: 1000px) {
    .content {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
</style>
