---
---

<div class="games">
  <span id="games" class="nav-anchor" />
  <div class="content">
    <h1>Current Project: JETRUNNER</h1>
    <p>
      A fast-paced parkour-driven first-person shooter. JETRUNNER is brought to life with striking cel-shaded, comic-like visuals.
      The core of its design is a gameplay loop that blends the high-speed optimization of Trackmania with the expressive movement of Titanfall.
      This creates a title focused on delivering rich, fluid movement mechanics alongside precise, satisfying gameplay, designed for both player enjoyment and competitive viability.
    </p>
    <img src="jetrunner-keyart01.png" class="keyart" />
    <!-- <div class="game-logo">
      <img src="jetrunner-logo.webp" alt="JETRUNNER logo" />
    </div>
    <div class="game-description">
      <p>
        JETRUNNER is an action packed parkour first-person shooter set in a crazy sci-fi future.
      </p>
      <p>
        Try the JETRUNNER demo for free on Steam!
      </p>
    </div>
    <div class="game-gallery">
      <img src="jetrunner-screenshot01.webp" alt="JETRUNNER screenshot" />
      <img src="jetrunner-screenshot02.webp" alt="JETRUNNER screenshot" />
    </div> -->
    <div class="game-link">
      <a href="https://store.steampowered.com/app/2865670/JETRUNNER/" target="_blank" rel="noopener">JETRUNNER on Steam</a>
    </div>
  </div>
</div>

<style>
  .games {
    width: 100%;
    /* background-image: url("/setback-background.webp"); */
    /* background-color: rgb(80, 80, 80); */
    background-color: #1b1b1b;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px #111;
  }

  .games h1, h2 {
    margin-top: 0;
    color: white;
    margin-top: 2rem;
    text-align: center;
  }

  .games p {
    color: #ddd;
    margin: 1rem;
  }

  .content {
    width: 100%;
    max-width: var(--content-width);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .keyart {
    width: 100%;
    max-width: 960px;
  }

  .game-logo {
    margin-top: 1rem;
  }
  .game-logo img {
    max-width: 100%;
  }

  .game-description {
    margin: 0.5rem;
    text-align: center;
  }

  .game-gallery {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .game-gallery img {
    width: 100%;
  }

  .game-link {
    margin: 1rem;
    margin-bottom: 2rem;
    width: calc(100% - 2rem);
    max-width: 400px;
    min-height: 60px;
    background: linear-gradient(to right, rgb(111, 167, 32) 5%, rgb(88, 138, 27) 95%);
  }
  .game-link a {
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1200px) {
    .content {
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: 800px) {
    .steam-card-small {
      display: flex;
    }
    .game-gallery {
      grid-template-columns: 1fr;
    }
  }
</style>
