---
import ProfileCard from '../ProfileCard.astro';
---

<div class="our-team">
  <span id="our-team" class="nav-anchor" />
  <h1>Our Team</h1>
  <div class="grid-container">
    <ProfileCard 
      name="Lars Olav Muri"
      role="Founder, CEO"
      mail="lars@riddlebit.net"
      imageUrl={"profiles/Lars_500.jpg"}/>
    <ProfileCard
      name="Oliver M. B. Nakken"
      role="Founder, Game Director"
      mail="oliver@riddlebit.net"
      imageUrl={"profiles/Oliver_500.jpg"}/>
    <ProfileCard
      name="Håvard Aasmo"
      role="Founder, Lead Developer"
      mail="havi@riddlebit.net"
      imageUrl={"profiles/Havi_500.jpg"}/>
    <ProfileCard
      name="Nikolai Holt"
      role="Developer"
      imageUrl={"profiles/Nikolai_500.jpg"}/>
    <ProfileCard
      name="Markus Pedersen"
      role="Developer"
      imageUrl={"profiles/Markus_500.jpg"}/>
    <ProfileCard
      name="Mildrid Johnsen"
      role="Lead Artist"
      imageUrl={"profiles/Mille_500.jpg"}/>
    <ProfileCard
      name="Robin Arntsen"
      role="Artist"
      imageUrl={"profiles/Robin_500.jpg"}/>
    <ProfileCard
      name="Vegard Moe"
      role="Artist"
      imageUrl={"profiles/Vegard_500.png"}/>
    <ProfileCard
      name="Lasse Blomsøy"
      role="Level Designer"
      imageUrl={"profiles/Lasse_500.jpg"}/>
    <ProfileCard
      name="Lyubov Zlatogurskaya"
      role="Content Manager"
      imageUrl={"profiles/Lyubov_500.jpg"}/>
  </div>
</div>

<style>
  .our-team {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-container {
    margin: 0 2rem;
    max-width: var(--content-width);
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }

  @media (max-width: 1200px) {
    .grid-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 900px) {
    .grid-container {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 600px) {
    .grid-container {
      margin: 0 1rem;
      gap: 10px;
    }
  }

  @media (max-width: 350px) {
    .grid-container {
      grid-template-columns: 1fr;
      margin: 0 3rem;
    }
  }
</style>
