---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="content">
    <h1>404</h1>
    <h2>Oh no! There is nothing here... 😭</h2>
  </div>  
</BaseLayout>

<style>
  .content {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content h1 {
    margin: 0;
    font-size: 4rem;
  }

  .content h2 {
    margin: 0;
  }
</style>
