---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import About from '../components/sections/About.astro';
import Games from '../components/sections/Games.astro';
import OurTeam from '../components/sections/OurTeam.astro';
---

<BaseLayout>
  <Header />
  <div class="content">
    <About />
    <Games />
    <OurTeam />
  </div>
</BaseLayout>

<style>
  .content {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
</style>
