<header id="header" class="header">
  <div class="header-main-group">
    <img src="/logo.svg" class="header-logo" width="0" height="0" alt="logo" />
    <div class="header-line">
      <svg>
        <line x1="0" x2="100%" y1="0" y2="0" />
      </svg>
    </div>
    <div class="header-title">RIDDLEBIT SOFTWARE</div>
  </div>
  <a href="#about" aria-label="navigate down">
    <svg class="header-go-down" style="opacity: 0;">
      <use href="/icons.svg#chevron-down" />
    </svg>
  </a>
</header>

<style>
  .header {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .header-main-group {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-logo {
    width: 100%;
    height: 200px;
    opacity: 0;
    animation: logo-appear 0.25s ease-in 1s forwards;
  }

  .header-line {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
    height: 2px;
    text-align: center;
  }

  .header-line svg {
    width: 0;
    stroke: white;
    stroke-width: 2px;
    animation: line-appear 0.8s ease forwards 0.5s;
  }

  .header-title {
    margin-left: 0.6rem;
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: 0.6rem;
    opacity: 0;
    animation: title-appear 0.25s ease-in 1s forwards;
  }

  .header-go-down {
    width: 56px;
    fill: #888;
    font-size: 4rem;
    opacity: 0;
    animation: go-down-appear 1s 1.5s forwards,
      go-down-bounce infinite 4s ease 2s;
  }

  .header-go-down:hover {
    cursor: pointer;
  }

  @media (max-width: 760px) {
    .header-title {
      font-size: 2rem;
    }
    .header-logo {
      height: 100px;
    }
  }

  @media (max-height: 550px) {
    .header-logo {
      padding-top: 5rem;
    }
  }

  @keyframes logo-appear {
    from {
      opacity: 0;
      filter: blur(10px);
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
  }

  @keyframes line-appear {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes title-appear {
    from {
      opacity: 0;
      filter: blur(10px);
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
  }

  @keyframes go-down-appear {
    from {
      opacity: 0;
      filter: blur(12px);
    }
    to {
      opacity: 1;
      filter: blur(0);
    }
  }

  @keyframes go-down-bounce {
    0%, 45%, 55%, 65% {
      transform: translateY(0);
    }
    50%, 60% {
      transform: translateY(10px);
    }
  }
</style>
