---
import ProfileCard from './ProfileCard.astro';
---

<div class="our-team">
  <a id="our-team" class="nav-anchor"></a>
  <h1>Our Team</h1>
  <div class="grid-container">
    <ProfileCard imageUrl={"https://i.imgur.com/0aI6Xcv.jpg"} name="Lars Olav Muri"       role="Founder, CEO" />
    <ProfileCard imageUrl={"https://i.imgur.com/WvsEAO5.jpg"} name="Jonathan Jørgensen"   role="Founder, Producer" />
    <ProfileCard imageUrl={"https://i.imgur.com/yvBikgH.jpg"} name="Oliver M. B. Nakken"  role="Founder, Tech Art & UX Design" />
    <ProfileCard imageUrl={"https://i.imgur.com/fZVwsyc.jpg"} name="Håvard Aasmo"         role="Founder, Lead Developer" />
    <ProfileCard imageUrl={"https://i.imgur.com/HvDacNc.jpg"} name="Nikolai Holt"         role="Developer" />
    <ProfileCard imageUrl={"https://i.imgur.com/6aD9h0k.jpg"} name="Mildrid Johnsen"      role="Lead Artist" />
    <ProfileCard imageUrl={"https://i.imgur.com/5yV8S9t.jpg"} name="Robin Arntsen"        role="Artist" />
    <ProfileCard imageUrl={"https://i.imgur.com/NnDUHSP.jpg"} name="Lasse Blomsøy"        role="Level Designer" />
  </div>
</div>

<style>
  .our-team {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-container {
    margin: 0 2rem;
    max-width: var(--content-width);
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }

  @media (max-width: 1200px) {
    .grid-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 900px) {
    .grid-container {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 500px) {
    .grid-container {
      grid-template-columns: 1fr;
      margin: 0 3rem;
    }
  }
</style>
