---
import ProfileCard from './ProfileCard.astro';
---

<div class="our-team">
  <span id="our-team" class="nav-anchor" />
  <h1>Our Team</h1>
  <div class="grid-container">
    <ProfileCard imageUrl={"profiles/Lars_500.jpg"}     name="Lars Olav Muri"       role="Founder, CEO" />
    <ProfileCard imageUrl={"profiles/Jonathan_500.jpg"} name="Jonathan Jørgensen"   role="Founder, Producer" />
    <ProfileCard imageUrl={"profiles/Oliver_500.jpg"}   name="Oliver M. B. Nakken"  role="Founder, Tech Art & UX Design" />
    <ProfileCard imageUrl={"profiles/Havi_500.jpg"}     name="Håvard Aasmo"         role="Founder, Lead Developer" />
    <ProfileCard imageUrl={"profiles/Nikolai_500.jpg"}  name="Nikolai Holt"         role="Developer" />
    <ProfileCard imageUrl={"profiles/Markus_500.png"}  name="Markus Pedersen"         role="Developer" />
    <ProfileCard imageUrl={"profiles/Mille_500.jpg"}    name="Mildrid Johnsen"      role="Lead Artist" />
    <ProfileCard imageUrl={"profiles/Robin_500.jpg"}    name="Robin Arntsen"        role="Artist" />
    <ProfileCard imageUrl={"profiles/Vegard_500.png"}    name="Vegard Moe"      role="Artist" />
    <ProfileCard imageUrl={"profiles/Lasse_500.jpg"}    name="Lasse Blomsøy"        role="Level Designer" />
    <ProfileCard imageUrl={"profiles/Lyubov_500.png"}    name="Lyubov Zlatogurskaya"        role="Content Manager" />
    <ProfileCard imageUrl={"profiles/Jordan_500.png"}    name="Jordan Brown"        role="Marketing Manager" />
  </div>
</div>

<style>
  .our-team {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-container {
    margin: 0 2rem;
    max-width: var(--content-width);
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }

  @media (max-width: 1200px) {
    .grid-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 900px) {
    .grid-container {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 500px) {
    .grid-container {
      grid-template-columns: 1fr;
      margin: 0 3rem;
    }
  }
</style>
