---
const { imageUrl, name, role, mail } = Astro.props;
---

<div class="profile-card" tabindex="0" onclick={`_paq.push(['trackEvent', 'Misc', 'Profile Click', '${name}']);`}>
  <div class="image-container">
    <img src={imageUrl} alt={[name, role].join(" ")} />
    {mail &&
      <div class="mail-icon">
        <a href={"mailto:" + mail} target="_blank" aria-label={"Mail to " + name}>
          <svg><use href="/icons.svg#envelope" /></svg>
        </a>
      </div>
    }
  </div>
  <div class="description">
    <p>{role}</p>
    <h1>{name}</h1>
  </div>
</div>

<style>
  .profile-card {
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }

  .image-container {
    position: relative;
  }

  .image-container img {
    width: 100%;
    aspect-ratio: 1;
  }

  .mail-icon {
    position: absolute;
    bottom: 0.8rem;
    right: 1.2rem;
  }

  .mail-icon svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(2px 2px 5px black);
  }

  .description {
    margin: 1rem;
    margin-top: 0.5rem;
  }

  .description > * {
    margin: 0;
    font-weight: 400;
  }

  .description h1 {
    font-size: 1.17em;
  }

  .description p {
    font-size: 0.9em;
    color: #555;
  }

  .profile-card:focus {
    animation: bounce 1s 1;
  }

  .profile-card:active {
    animation: none;
  }

  @media (max-width: 600px) {
    .description {
      margin: 0.5rem;
    }
    .description > h1 {
      font-size: 0.9em
    }
    .description > p {
      font-size: 0.7em;
    }
    .mail-icon {
      bottom: 0.5rem;
      right: 0.8rem;
    }
    .mail-icon svg {
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  @keyframes bounce { 
    0%, 30%, 60% {transform: translateY(0);} 
    20% {transform: translateY(-30px);} 
    50% {transform: translateY(-15px);} 
  }
</style>
